{% extends 'travel/base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center">Личный кабинет</h1>
    <div class="alert alert-primary text-center">
        Добро пожаловать, {{ user.name_user }}!
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Информация о профиле</h5>
            <p><strong>Email:</strong> {{ user.email_user }}</p>
            <p><strong>Номер телефона:</strong> {{ user.number_user }}</p>
        </div>
    </div>
</div>
{% endblock %}
